* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#amount{
    height: 25px;
}
/* .img1 {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.img1{ 
    background-image: url(../images/currencies2.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}
.img2{ 
    background-image: url(../images/tickets.png) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}